node_modules/
frontend/node_modules/
.vscode/ipch
.vscode/.browse.c_cpp.db
backend/backend
backend/config.json
pocs/ghoami/ghoami
backend/barndoor-tracker-pi
pi/config.json
backend/magCalcResults.csv
import.csv
magCalcResults.ods
pocs/i2c/accel
pocs/i2c/basic
pocs/i2c/mag
pocs/i2c/whichway
arduino/bin
arduino/.envrc
backend/logs/pid*

